body {
	background: linear-gradient(to top left, #cc66ff 0%, #ff9999 100%);
	background-repeat: no-repeat;
	background-size: cover;
	height: 1000px;
}

#container {
	/*background-color: lightgrey;*/
	width: 40%;
	margin: 0 auto;
	margin-top: 150px;
	/*top: 50%;*/
	/*right: 50%;*/
	/*transform: translate(-50%; -50%);*/
}

h1 {
	text-align: center;
	background-color: #9933ff;
	margin: 0;
	color: white;
	height: 50px;
	/*padding-top: 20px;*/
	font-family: Reenie Beanie;
	font-size: 50px;
}

#plus {

}

.inputBox {
	border: 2px solid white;
	background-color: white;
}
.input {
	text-align: center;
	display: block;
	margin: 0 auto;
	width: 300px;
	height: 20px;
	margin-top: 20px;

}

li {
	list-style: none;
	font-family: Shadows Into Light Two;
}



.completed {
	color: grey;
	text-decoration: line-through;
}

span {
	width: 0;
	/*background-color: red;*/
	margin-right: 20px;
	opacity: 0;
	transition: 0.2s linear;
	display: inline-block;
	font-size: 20px;
}

li:hover span {
	width: 40px;
	opacity: 1.0;
}
